{% extends "sel4c/base.html" %}
{% block content %}

  <p> {{entrepreneur.first_name}} </p> 

  {% for obj in entrepreneur %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Nombre:</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{obj.first_name}}</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </div>
  {% endfor %}
  

{% endblock %}