{% extends "sel4c/base.html" %}

{% block content %}
<div class="container-fluid px-4">
  
  <h1 class="mt-4">Actividades</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Administradores de SEL4C activos(as)</li>
    </ol>
  </h1>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Administradores Activos
    </div>
    <div class="card-body">
      <table class="datatablesSimple">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Last Login</th>
            
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Last Login</th>
          </tr>
        </tfoot>
        <tbody>
          {% for administrator in administrators %}
          <tr>
            <td> <a href="{% url 'administrator' administrator.id %}">{{ administrator.first_name }} {{administrator.last_name}} </a></td>
            <td>{{ administrator.email }}</td>
            <td>{{ administrator.last_login }}</td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
