{% extends "sel4c/base.html" %}
{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Actividades</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Actividades de SEL4C</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Actividades
        </div>
        <div class="card-body">
            <table class="datatablesSimple">
                <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Title</th>
                        <th>Acciones</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Actividad</th>
                        <th>Title</th>
                        <th>Acciones</th>
                        
                    </tr>
                </tfoot>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.activity_num }}</td>
                        <td>{{ activity.title }}</td>
                        <td>
                            <a href="{% url 'update_activity' activity.id %}" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <a href="{% url 'home' %}" class="btn btn-info" role="button" aria-pressed="true">Volver</a>
            <a href="{% url 'create_activity' %}" class="btn btn-success" role="button" aria-pressed="true">Crear actividad</a>
        </div>
    </div>
</div>

{% endblock %}